/*
Arman Mansourian
CSE 110 - Software Engineering
*/

@font-face {
    font-family: Tajawal;
    src: url(../fonts/tajawal-bold.ttf);
}

.header {
  color: rgb(127, 127, 127);
  font-size: 1em;
}

.aboutme {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1cap;
}

.footer {
  color: rgb(127, 127, 127);
  font-size: 1em;
}

#contacts {
  color: #FFFFFF;
}

* {
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  color: white;
  text-align: center;
}

body {
  background-color: lightblue;
  display: inline-block;
}

section {
  color: hsl(30, 100%, 50%, 0.6);
}

section[id="links"] {
  color: hsla(30, 100%, 50%, 0.6);
  border-style: dotted;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  font-size: 10Q;
  text-decoration: white wavy underline;
}

h2, h3, h4 {
  color: white;
  text-align: center;
}

h1:hover{
  color: #FFF;
}

h2:active{
  display: none;
}

ul {
  display: inline;
}

form {
  border: thick double;
  border-color: white blue;
  border-width: medium;
  border-radius: 50% 20% / 10% 40%;
  display: block;
}

ul.form-list li {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

ul.form-list > label {
  margin: 1px, 1px, 1px, 1px;
}

div ~ section {
}

section + div {
}

a[href] {
  margin-top: 10pt;
  font-size 2rem;
}

p {
  font-family: verdana;
  font-size: 20px;
}
