/*
Arman Mansourian
CSE 110 - Software Engineering
*/

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@800&display=swap');

.header {
  color: rgb(127, 127, 127);
  font-size: 1em;
}

.aboutme {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1cap;
}

.footer {
  color: rgb(127, 127, 127);
  font-size: 1em;
}

#contacts {
  color: #FFFFFF;
}

#selfie {
  width: 200px;
  height: auto;
}

#vid {
  max-width: 50%;
  height: auto;
}

* {
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  color: white;
  text-align: center;
  font-family: Tajawal;
}

body {
  background-color: lightblue;
  display: inline-block;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

section {
  color: hsl(30, 100%, 50%, 0.6);
  max-width: 50%;
}

section[id="links"] {
  color: hsla(30, 100%, 50%, 0.6);
  border-style: dotted;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  font-size: 10Q;
  text-decoration: white wavy underline;
  max-width: 50%;
}

h2, h3, h4 {
  color: white;
  text-align: center;
  max-width: 50%;
  min-width: 5%;
}

h1:hover {
  color: #FFF;
}

h2:active {
  display: none;
}

ul {
  display: inline;
}

form {
  border: thick double;
  border-color: white blue;
  border-width: medium;
  border-radius: 50% 20% / 10% 40%;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
}

ul.form-list li {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
}

ul.form-list > label {
  margin: 1px, 1px, 1px, 1px;
  position: fixed;
}

div ~ section {
  position: relative;
}

section + div {
  position: sticky;
}

a[href] {
  margin-top: 10pt;
  font-size 2rem;
  position: static;
}

p {
  font-family: Tajawal;
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  body {
    display: flex;   
  }
}
