/*
Arman Mansourian
CSE 110 - Software Engineering
*/

.header {
  color: rgb(127, 127, 127);
}

.aboutme {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  color: rgb(127, 127, 127);
}

#contacts {
  color: #FFFFFF;
}

* {
  color: white;
}

body {
  background-color: lightblue;
}

section {
  color: hsl(30, 100%, 50%, 0.6);
}

section[id="links"] {
  color: hsla(30, 100%, 50%, 0.6);
}

div {
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
}

h1:hover{
  color: #FFF;
}

h2:active{
}

ul {
}

ul.form-list li {
}

ul.form-list > label {
}

div ~ section {
}

section + div {
}

a[href] {
}

p {
  font-family: verdana;
  font-size: 20px;
}
