.header {
}

.aboutme {
}

.footer {
}

#contacts {
}

* {
}

body {
  background-color: lightblue;
}

section {
}

section[id="links"] {
}

div {
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
}

h1:hover{
}

h2:active{
}

ul {
}

ul.form-list li {
}

ul.form-list > label {
}

div ~ section {
}

section + div {
}

a[href] {
}

p {
  font-family: verdana;
  font-size: 20px;
}
