.header{
}

.aboutme{
}

.footer{
}

#contacts{
}

#links{
}

* {
}

body {
  background-color: lightblue;
}

section {
}

div {
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
}

a {
}

p {
  font-family: verdana;
  font-size: 20px;
}
